body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 2px rgb(100, 100, 100);
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: larger;
  height: 50px;
}

#toggleBtn {
  border-radius: 50%;
  color: white;
  background-color: black;
  border: solid 2px white;
  flex: 0 0 auto;
  font-size: large;
  cursor: pointer;
  transition: 0.4s;
  transform: rotate(0deg);
}

#toggleBtn:hover {
  background-color: #444;
}

#sideBar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: -300px;
  overflow-x: hidden;
  transition: .4s;
  background-color: rgba(0, 0, 0, 0.152);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.mainDiv{
  flex: 1;
  display: flex;
}

.main {
  flex: 1;
  width: 100%;
  align-content: start;
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  padding: 20px;
  gap: 20px;
  background-color: rgb(226, 226, 226);
}

.main > div {
  border: solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px rgb(194, 194, 194);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: large;
  font-weight: bolder;
}

.main > div > .bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main > div > .bottom > .buttons {
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
}
  
.switch input { 
opacity: 0;
width: 0;
height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
  
input:checked + .slider {
  background-color: #21f360;
}
  
input:focus + .slider {
  box-shadow: 0 0 10px #21f360;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.status {
  display: flex;
  gap: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  background-color: rgb(1, 1, 47);
  color: white;
}

.footer a {
  color: white;
}